<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.toastyy">

    <application>
        <activity
            android:name=".Toastyy2"
            android:exported="true" />
        <activity
            android:name=".ToastyyActivity"
            android:exported="true" />
    </application>

</manifest>